body {
  background-color: rgb(7, 5, 88);
}

video {
  display: block; /* Ensures it's a block-level element */
  margin: auto;   /* Centers horizontally */
}
h1 {
  text-transform: uppercase;
  font-size: 3rem;
}

.poster {
  width: 50%;
  margin-left: 25%;
  margin-top: 100px;
  color: white;
  font-family: "Libre Baskerville", serif;
  text-align: center;
}

.motivation-img {
  border: 15px solid rgb(142, 107, 37);
  width: 100%;
}
